.card {
  width: 100%;
}
blockquote {
  background-color: rgb(255, 227, 214);
  height: 100%;
}
.card-body {
  padding: 0;
  background-color: rgb(255, 237, 213);
}

div .card-header {
  background-color: rgb(182, 228, 235);
}
